<!DOCTYPE html>
{% load staticfiles %} <!-- using static files within the template-->
<html>
    
    <head>
        <title>About</title>
    </head>
    <body>
        <h1>This tutotial has been put together by Chieh Teng</h1>
        <div>
            <!-- <a href="/rango">Index</a><br /> -->
            <a href="/rango/about/">About</a><br />
            <img/><img src="{{ MEDIA_URL }}horses.jpg"
                  alt="Picture of horses" />
                  <!-- <img/><img src= "{% static "media/horses.jpg" %}" -->
                  <!-- <img/><img src= "/static/media/horses.jpg" alt = "Picture of horses" /> -->
        </div>
    </body>
    
</html>

